@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Lato:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Space+Mono:wght@400;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap');
*{
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;

}
/* nav styls */
.nav-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color:#FFF ;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-logo img{
    width: 86.041px;
    height: 40px;
}
.img-youtube{
    width: 33.916px;
    height: 24px;

}
.ul-li{
    display: flex;
    gap: 10px;
    align-items: center;
}
.ul-li ul{
    display: flex;
    gap: 10px;
}
.nav-itme li a{
    text-decoration: none;
}
.nav-itme li{
    list-style: none;
}
.yoti{
    width: 262px;
    height: 56px;
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    gap: 10px;
}
.yoti img{
    padding: 10px;
}
.yoti h3{
    margin-left: 10px;
}
/* section-container styls */
.section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: #f3f1e6;
}
.headerul > li{
    list-style: none;
}
.header-btn-div{
    margin-top: 20px;
}
.btn-header1{
    display: inline-flex;
    border: 0;
    padding: 21px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #ffffff;
    cursor: pointer;
}
.btn-header2{
    border: 0;
    display: inline-flex;
    padding: 21px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #ffffff;
    cursor: pointer;
}
.play-goat{
    justify-content: left;
}
.play-goat h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.play-goat h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}
/* section2-container */
.section2-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.section2-container-div1{
    margin-left: 100px;
}
.section-container-div2 img{
    height: 600px;
}
.section2-container-div1 img{
    width: 500px;
}
.section2-container-div2{
    text-align: right;
    margin-right: 100px;
}
.section2-container-div2 h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.section2-container-div2 p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.section2-container-div2 button{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    cursor: pointer;
    gap: 10px;
    border: 0;
    color: #ffffff;
    margin-bottom: 20px;
}
.section2-container-div2 h4{
    color: #534C64;
}
/* section3 styles */


.section3-container{
    width: 100%;
    height: 500px;
    text-align: center;
}
.section3-container h3{
    justify-content: center;
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.section3-container p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 20px;
}
.online-game{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.online-game-img{
    width: 300px;
}
.online-game-img img{
    width: 250px;
}


/* section4-container styles */


.section4-container{
    display: flex;
    height: 500px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}
.section4-container-div1{
    width: 300px;
    text-align: right;
}
.section4-container-div1 h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}
.section4-container-div1 p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.section4-container-div2{
    justify-content: center;
    height: 500px;
    width: 400px;
    margin-right: 100px;
}
.scd2-img1{
    height: 500px;
}
.scd2-img2{
    height: 250px;
    position: relative;
    bottom: 190px;
    right: 100px;
}

/* section5 styles */

.section5-container{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    height: 600px;
    align-items: center;
}
.section5-container-div1{
    width: 50%;
    height: 100%;
}
.section5-container-div2 h2{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.section5-container-div2{
    width: 500px ;
}
.s5cd2-img1{
    height: 500px;
}
.s5cd2-img2{
    height: 250px;
    position: relative;
    bottom: 190px;
    left: 400px;
}




.section6-container{
    text-align: center;
    margin-bottom: 20px;
}

.btn-style{
    margin-top: 30px;
    text-align: center;
    border: 0;
    background: none;
    padding: 10px;
    width: 290px;
    flex-direction: column;
}
.btn-style:hover{
    border: 1px solid rgb(221, 8, 8);
    border-radius: 50px;
    cursor: pointer;
}

/* footer styles */


.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: #000000;
    text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}
.footer-logo h2{
    color: #ffffff;
}
.footer-ul1{
    display: flex;
    list-style: none;
    gap: 10px;
    text-align: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}
.social{
    margin-bottom: 20px;
}
.footer p{
    color: #ffffff;
}


/* small devaice */


@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .nav-logo{
        margin-top: 0px;
        gap: 20px;
    }
    .ul-li{
        flex-direction: column;
        margin-top: 20px;
    }
    .nav-itme{
        padding: 20px;
    }
    .section-container{
        flex-direction: column;
        width: 100%;
    }
    .section-container-div2{
        justify-content: center;
        align-items: center;
    }
    .section-container-div2 img{
        height: 280px;
    }

    
    .section2-container{
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }
    .section2-container-div1{
        align-items: center;
        justify-content: center;
    }
    .section2-container-div1 img{
        width: 400px;
        margin-right: 100px;
    }
    .online-game{
        flex-direction: column;
        align-items: center;
    }
    .section3-container{
        padding-top: 100px;
        display: block;
    }
    .section4-container{
        margin-top: 1400px;
        flex-direction: column;
    }
    .section4-container-div1{
        align-items: center;
    }
    .section4-container-div2{
        margin-left: 100px;
        align-items: center;
    }
    .scd2-img1{
        height: 300px;
    }
    .scd2-img2{
        height: 100px;
        position: relative;
        bottom: -30px;
        right: 340px;
    }
    .section5-container{
        margin-top: 200px;
        flex-direction: column-reverse;
    }
    .s5cd2-img1{
        height: 300px;
    }
    .s5cd2-img2{
        height: 100px;
        position: relative;
        left: -40px;
        bottom: 80px;
    }
}